*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
}

section{
    display: flex;
    height: 100vh;
    width: 100%;
}

.premiere{
    width: 56%;
    height: auto;
}

.seconde{
    width: 14%;
    height: auto;
}

.troisieme{
    width: 30%;
    height: auto;
}

.flux{
    display: flex;
}















.d1{
    background-color: aqua;
    height: 20vh;
    width: 25%;
}

.d2{
    background-color: red;
    height: 20vh;
    width: 25%;
}

.d3{
    background-color: yellowgreen;
    height: 20vh;
    width: 50%;
}

.d4{
    background-color: royalblue;
}

.d5{
    background-color: tomato;
    height: 40vh;
}

.d6{
    background-color: silver;
    height: 20vh;
    width: 75%;
}

.d7{
    background-color: gold;
    height: 20vh;
    width: 25%;
}

.d8{
    background-color: purple;
    height: 40vh;
    width: 50%;
}

.d9{
    background-color: maroon;
    height: 40vh;
    width: 50%;
}

.d10{
    background-color: floralwhite;
    height: 20vh;
}

.d11{
    background-color: teal;
    height: 60vh;
    width: 50%;
}

.d12{
    background-color: navajowhite;
    height: 60vh;
    width: 50%;
}